.header-container{
    width: 100%;
    height: 100%;
    border-bottom: 0px solid red;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0%;
    background-color: transparent;
}

.desktop-header {
    display: none;
}

.mobile-header {
    width: 100%;
    height: 100%;
    border-bottom: 0px solid red;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 1%;
    background-color: transparent;
    position: absolute;
    z-index: 6;
}

.mobile-header > .logo{
    position: absolute;
    left: 2vw;
    top: 8%;
    width: 8%;
}

.mobile-header > .logo .deji-logo{
    height: 7vmin;
}

@media only screen and (min-width: 1024px)
{
    .desktop-header {
        width: 100%;
        height: 100%;
        border-bottom: 0px solid red;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding: 1%;
        background-color: transparent;
        position: absolute;
        z-index: 5;
    }
    
    .desktop-header > .logo{
        position: absolute;
        left: 0;
        top: 15%;
        width: 15%;
    }
    
    .desktop-header > .nav-container{
        position: absolute;
        width: 85%;
        right: 0%;
        box-sizing: border-box;
    }
    
    .desktop-header > .nav-container > .links-container
    {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: row;
        width: 50%;
        box-sizing: border-box;
    }
    
    .links{
        padding: 0%;
        width: 100%;
        margin: 0 auto;
        margin-left: 5%;
        margin-right: 5%;
        color: rgb(170, 0, 0);
        text-align: center;
        font-weight: 500;
        text-decoration: none;
        font-size: larger;
        font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
        transition: 300ms;
    }
    
    .desktop-header > .nav-container > .links-container > .nav-div{
        width: 14%;
        height: auto;
        box-sizing: border-box;
        padding: .5%;
        margin: 0 auto;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .desktop-header > .nav-container > .links-container > .nav-div > .bottom{
        width: 5%;
        height: 0;
        border: 2px solid rgb(170, 0, 0);
        margin: 0 auto;
        margin-top: 6.5%;
        transition: 300ms;
    }
    
    .desktop-header > .nav-container > .links-container > .nav-div > .links:hover + .bottom {
        width: 102%;
        height: 0;
        margin-top: 6.5%;
        transition: 300ms;
        border: 2px solid rgb(170, 0, 0);
    }
    
    
    .App-logo {
        /*animation: App-logo-spin infinite 20s linear;*/
        height: 8vmin;
      }
    
    .desktop-header > .logo .deji-logo{
        height: 7vmin;
    }
    
      
    @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    
    
    
      .mobile-header{
        display: none;
      }
}