.App {
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.head{
  position: absolute;
  top: 0;
  width: 100%;
  height: 8%;
  background-color: transparent;
  z-index: 3;
}

.body{
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  z-index: 1;
}

.foot
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
  z-index: 3;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
